/***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {border:none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/**************************************************
			      Global styles
***************************************************/

html, body {
	width:100%;
	height:100%;
	}

html, body{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: black;
	margin:0 0 1px;
	line-height: 1.5;
	background-image:url(../img/bg.png); 
	background-position:left top;
	background-repeat:repeat;
}

p {
	margin-bottom:7px;
	}
	
a, p a {
	text-decoration:none;
	}
	
a:hover {
   text-decoration:underline; 
}	

h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
	position:relative;
}
	
h1{
	font-size: 35px;
	line-height:1.6;
}
h2{
	font-size: 18px;
	line-height:1.7;
}
h3{
	font-size: 28px;
	line-height:1.6;
}
h4{
	font-size: 18px;
	line-height:1.7;
}

/***************************************************
			    Main containers
***************************************************/
#wrapper{
		position:relative;
		width:980px;
		margin:0 auto;
		text-align:left;
		background-color:white;
		padding:15px;
		overflow: hidden; 
		-moz-box-shadow: 0 0 5px 5px #D8D8D8;
		-webkit-box-shadow: 0 0 5px 5px #D8D8D8;
		box-shadow: 0 0 5px 5px #D8D8D8;
}
#sidebar{
	float: left;
	width: 100px;
}
#main{
	float: left;
	width: 880;
}