<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="shortcut icon" href="/images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="/css/lifeant.css"/>
</head>
<body>
	<div id="logo">
			<h1 style="font-weight: bold;"><a href="/">角落</a></h1>
			<span id="tags">代码人生路！ ！ ！</span>
	</div>
	<div id="wrapper">
		<div id="container">
			<div id="sidebar">
				<ul>
					<li>
						<a href="#">ARTICLES</a>
						<ul>
							{% for category in site.categories %}
							<li><a href="/{{ category[0]  }}.html"> {{ category[0]  }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li><a href="/about.html">ABOUT</a></li>
				</ul>
			</div>
			<div id="main">
				{{ content }}
			</div>
		</div>
  </div>
</body>
</html>