<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="shortcut icon" href="/images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="/css/github.css"/>
</head>
<body>
	<div id="layout-hader" class="clearfix">
    	<div id="site-logo">
    		<h1><a href="/">角落 | Github</a></h1>
    		<span id="tags">代码人生路！ ！ ！</span>
    	</div>
		<div id="site-menu">
			<span><a href="/">HOME</a></span>
			<span><a href="/article.html">ARTICLES</a></span>
			<span><a href="/about.html">ABOUT</a></span>
		</div>
	</div>
	<div id="layout-wrapper">
		<div id="layout-container">
			<div id="post">
				<h2>{{ page.title }}</h2>
				<div id="date">committed {{ page.date | date_to_string }}</div>
				{{ content }}
				<!-- Duoshuo Comment BEGIN -->
				<div class="ds-thread"></div>
				<script type="text/javascript">
					var duoshuoQuery = {short_name:"gitpage"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = 'http://static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						|| document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
				</script>
				<!-- Duoshuo Comment END -->
			</div>
		</div>
	</div>
</body>
</html>