---
layout: default
---
<div id="post">
  <h2><a href="{{ page.url }}">
    {{ page.title }}
  </a></h2>
  <div id="date">committed {{ page.date | date_to_string }}</div>
  {{ content }}
  <div id="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://lifeant.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=blue&default_tab=people&excerpt_length=200"></script><a href="http://disqus.com/">Comment Powered by Disqus</a>
  </div>
</div>
