<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="shortcut icon" href="/images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="/css/lifeant.css"/>
</head>
<body>
	<div id="logo">
			<h1 style="font-weight: bold;"><a href="/">角落</a></h1>
			<span id="tags">代码人生路！ ！ ！</span>
	</div>
	<div id="wrapper">
		<div id="container">
			<div id="post">
				<h2>{{ page.title }}</h2>
				<div id="date">committed {{ page.date | date_to_string }}</div>
				{{ content }}
				<div id="disqus">
					<div id="disqus_thread"></div>
					<script type="text/javascript">
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://lifeant.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
					</script>
				</div>
			</div>
		</div>
  </div>
</body>
</html>